footer.footer
	.wrapper
		.footer-block
			div.footer__links
				a(href='#') Latest Posts
				a(href='#') Popular Posts
			div.footer__links
				a(href='#') Search
				a(href='#') Contact Information
			div.footer__links
				a(href='#') Privacy Policy
				a(href='#') Terms of Use
			div.footer__links.links
				img(src='img/icons/instagram.svg', alt=instagram)
				img(src='img/icons/twitter.svg', alt=twitter)
				img(src='img/icons/facebook-f.svg', alt=facebook)
				
.copyright © Copyright 2019. All rights reserved.
