header.header
	.links.header__links
		img(src='img/icons/instagram.svg', alt=instagram)
		img(src='img/icons/twitter.svg', alt=twitter)
		img(src='img/icons/facebook-f.svg', alt=facebook)
	.logo
		img(src='img/logo.png')
	.header-btns
		img(src='img/icons/search.svg', alt=search)
		button.btn.btn-borderCircle Subscribe