include ../mixins/sidebar-post.pug

.sidebar
	h4.h4.sidebar__title Recent Posts

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '1', 'december 26, 2019 — 5 comments')

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '2', 'december 26, 2019 — 5 comments')

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '3', 'december 26, 2019 — 5 comments')

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '4', 'december 26, 2019 — 5 comments')

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '5', 'december 26, 2019 — 5 comments')


	h4.h4.sidebar__title Popular Posts

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '1', 'december 26, 2019 — 5 comments')

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '2', 'december 26, 2019 — 5 comments')

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '3', 'december 26, 2019 — 5 comments')

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '4', 'december 26, 2019 — 5 comments')

	+sb-post('Austin DIY sriracha polaroid sartorial la croix. ', '5', 'december 26, 2019 — 5 comments')

	h4.h4.sidebar__title Instagram

	.sb-instagram
		img(src='img/1.jpg', alt='instagam post')
		img(src='img/2.jpg', alt='instagam post')
		img(src='img/3.jpg', alt='instagam post')
		img(src='img/4.jpg', alt='instagam post')
		img(src='img/5.jpg', alt='instagam post')
		img(src='img/4.jpg', alt='instagam post')
		img(src='img/3.jpg', alt='instagam post')
		img(src='img/2.jpg', alt='instagam post')
		img(src='img/1.jpg', alt='instagam post')
		img(src='img/5.jpg', alt='instagam post')
