@import './blocks/_header.scss';
@import './blocks/_footer.scss';
@import './blocks/_card.scss';

$color: rgb(23, 0, 128);
html{
	font-size: 16px;

}
body {
	color: $color;
	transition: all 0.2s ease-in;
	background-color: pink;
}	

*{
	padding: 0;
	margin: 0; 
    box-sizing: border-box;
}

a{
	text-decoration: none;
	color: $color;
}

main{
	height: 800px;
	text-align: center;
	padding: 20px;
}